/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container{
    margin: 0,auto;
    width: 100%;
    max-width: 960px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto , 'Helvetica Neue', Arial, "Noto Sans", sans-serif


}

.container > div.h1,div.nav{
    
    display: grid;
    font-size: 18px;
    justify-content: space-between;
    background-color: white;

}

h1{
    display: inline-block;
    padding-right: 50px;
    
   
  
}

ul{
    display: inline-block;

}
ul:hover{
    color: #5A67D8;
    
}

li{
    display:inline-block;
    padding: 20px;
    
}

li:hover{
    color:#6b7280;
    
}

.learn-about{
  
    
    display: grid;
    margin: 2em;
    margin-left: 10em;
    margin-right: 15em;
    
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.card{
    box-shadow: 0 0 5px 5px #E2E8F0;
    float: left;
    margin: 15px;
    height: 450px;
    width: 25%;
    padding: 20px;

}

.card:after{
    display: inline-block;
    content: "";
    display: table;
    clear: both;
}

.card h3{
    color: #48BB78;
    font-size: 21px;
}

.overview-hero{
    display: grid;
    background-color: #E2E8F0;
    margin-left: 10em;
    margin-right: 15em;

}
.overview-hero-image img{
    float: left;
    padding-right: 100px;
}

.overview-hero-text{
    background-color: #E2E8F0;
    width: 100%;
    text-align: left;
}

h2{
    font-size: 24px;
    color: #48BB78;
}

h3{
    color: #48BB78;
    font-size: 21px;
}

.testing{
    display: grid;
    background-color: #4A5568;
    color: white;
    margin: 2em;
    padding: 5em;
    margin-left: 10em;
    margin-right: 15em;
}

.testing a{
    color: white;
}

.testing-description{
    width: 65%;
    float: left;
}

.cta{
    background-color: #48BB78;
    float: right;
    padding: 15px;
    border-radius: 5px;
    margin: 8%;
}

.stories{
    display: grid;
    margin-left: 10em;
    margin-right: 15em;
}

.stories h2,a{
    color: #5A67D8;
}

.stories img{
    border-radius: 50%;
    float: left;
}

.article-body:after{
    display: inline-block;
    width: 80%;
    content: "";
    display: table;
    clear: both;
}
.newsletter{
    background-color: #48BB78;
    color: white;
    display: grid;
    text-align: center;
    background-color: #48BB78;
    padding: 5em;
    margin-left:10em;
    margin-right: 15em;

}

form{
    display: flex;
    text-align: center;
    padding-left: 30%;
    font-family: white;
}

form > div.email,div.btn{
    display: inline-block;

}
form input{
    padding: 20px;

}

form .btn{
    background-color: #5A67D8;
    color: white;
    padding: 10px 24px;
    border: 2px solid #5A67D8;
 


}


footer{
    background-color: #48BB78;
    color: white;
    padding: 2em;
    margin-left: 10em;
    margin-right: 15em;
}